// This file is empty within the template
// You can use it to override CSS from within your project

// css for blog picture captions
.center {
  text-align:center;
  font-size: 15px;
}
  
.figure {
  margin-bottom: 5px;
}
